@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 13%;
    --foreground: 210 20% 98%;
    --card: 240 4% 16%;
    --card-foreground: 210 20% 98%;
    --popover: 240 4% 16%;
    --popover-foreground: 210 20% 98%;
    --primary: 275 100% 25%;
    --primary-foreground: 210 20% 98%;
    --secondary: 240 4% 24%;
    --secondary-foreground: 210 20% 98%;
    --muted: 240 4% 24%;
    --muted-foreground: 240 4% 65%;
    --accent: 267 100% 80%;
    --accent-foreground: 267 80% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 240 4% 24%;
    --input: 240 4% 24%;
    --ring: 267 100% 80%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 13%;
    --foreground: 210 20% 98%;
    --card: 240 4% 16%;
    --card-foreground: 210 20% 98%;
    --popover: 240 4% 16%;
    --popover-foreground: 210 20% 98%;
    --primary: 275 100% 25%;
    --primary-foreground: 210 20% 98%;
    --secondary: 240 4% 24%;
    --secondary-foreground: 210 20% 98%;
    --muted: 240 4% 24%;
    --muted-foreground: 240 4% 65%;
    --accent: 267 100% 80%;
    --accent-foreground: 267 80% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 240 4% 24%;
    --input: 240 4% 24%;
    --ring: 267 100% 80%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
